[Unit]
Description=Sensors service

[Service]
User=golf
Restart=on-failure
RestartSec=5s
WorkingDirectory=/home/golf/sensors
ExecStart=/usr/bin/python3 main.py

[Install]
WantedBy=multi-user.target
