[Unit]
Description=Sensors service

[Service]
Restart=on-failure
RestartSec=5s
ExecStart=/bin/su -c /home/golf/sensors/run.sh golf

[Install]
WantedBy=multi-user.target 
